$green: #067166;

.event-card {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1.5rem;
  padding: 2rem;
  width: 30vh;
  height: 45vh;
  background-color: lightgray;
  // border: 2px double #067166;
  font-family: 'Rock Salt', cursive;
  color: #644E5D;
  // background-color: white;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.15),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.25);
  border-style: double #067166;
  -moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 20px;
-moz-border-radius-bottomright: 30px;
-moz-border-radius-bottomleft: 0;

-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
}

.event-occasion {
  text-align: center;
  font-size: 1.4em;;
}

.event-date {
  text-align: center;
  font-size: 1.0em;
}

.event-card-button {
  padding:0.35em 1.2em;
  font-family: 'Roboto', sans-serif;
  color: white;
  background: $green;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  margin-top: 3rem;
  padding: 1em 3em;
}