@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.timer-container {
  background-image: url('../alarm-clock.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  // width: 100vw;
  height: 80vh;
  border-bottom: solid 3px black;
}

.timer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 7em;
  padding-top: 2em;
  width: 100%;
  height: 100%;
}

.timer-first-div {
  text-align: center;
}

.timer-last-div {
  border: 1px solid #fff;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 3em;
  padding: 3em;
  text-align: center;
}

section p:first-child {
  font-size: 3em;
}

.timer-colon {
  font-size: 3em;
}

.timer-header {
  font-family: 'Roboto', sans-serif;
}

