$green: #067166;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Dashboard3-container {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  height: 60vh;
  background-color: lightgray;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.35),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.25);
  border-style: double #067166;
  -moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 20px;
-moz-border-radius-bottomright: 30px;
-moz-border-radius-bottomleft: 0;

-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
}

.dash3-location {
  color: #644E5D;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  
}

.dash3-occasion {
  color: #644E5D;
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}