$green: #067166;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.form-add-event {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8rem;
  height: 90vh;
  width: 55vh;
  background-color: lightgray;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.15),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.25);
  border-style: double #067166;
  -moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 20px;
-moz-border-radius-bottomright: 30px;
-moz-border-radius-bottomleft: 0;

-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
}



.form-event-header {
  text-align: center;
  color: #067166;
}

.input {
  margin-top: 1rem;
  height: 3rem;
  width: 45vh;
  border: solid #644E5D;
  text-indent: 10px;
}

.input-date {
  margin-top: 1rem;
  border: solid  #644E5D;
  text-indent: 5px;
}

.form-header {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #067166;
  font-size: 1.5em;
}

.form-location {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #067166;
  font-size: 1.5em;
}

.form-date {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #067166;
  font-size: 1.5em;
}

.form-date-button-container {
  display: flex;
  align-items: center;
}

.submit-button {
  padding:0.35em 1.2em;
  font-family: 'Roboto', sans-serif;
  color: white;
  background: $green;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  margin-top: 3rem;
  padding: 1em 6em;
  margin-left: 5rem;
  display: flex;
  justify-content: center;
}