$green: #067166;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.form-add-event {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  height: 35vh;
}

.form-event-header {
  text-align: center;
  color: #067166;
}

.input {
  margin-top: 1rem;
  height: 3rem;
  width: 45vh;
  border: solid #067166;
}

.input-date {
  margin-top: 1rem;
  border: solid  #067166;
}

.form-header {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #067166;
}

.form-location {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #067166;
}

.form-date {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #067166;
}

.form-date-button-container {
  margin-bottom: 1rem;
}

.submit-button {
  padding:0.35em 1.2em;
  font-family: 'Roboto', sans-serif;
  color: white;
  background: $green;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  margin-top: 3rem;
  padding: 1em 6em;
  display: flex;
  align-items: center;
}