.event-card {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2em;
  width: 25vh;
  height: 45vh;
  border: 2px double black;
  font-family: 'Rock Salt', cursive;
  color: #644E5D;
  background-color: white;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-style: double black;
  -moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 20px;
-moz-border-radius-bottomright: 30px;
-moz-border-radius-bottomleft: 0;

-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
}

.event-occasion {
  text-align: center;
  font-size: 1.4em;;
}

.event-date {
  text-align: center;
  font-size: 1.0em;
}