@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar-container {
  display: flex;
  align-items: center;
  justify-content:space-between;
  align-items: flex-end;
  background-color: white;
  padding: 0 3rem;
  margin-top: 2rem;
  border-bottom: 3px solid black;
}

.navbar-logo-slogan-container {
display: flex;
flex-direction: column;
align-items: center;
}

.navbar-slogan {
  font-family: 'Rock Salt', cursive;
  font-size: 0.8em;
  color: #067166;
}

.navbar-navlinks {
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;
  margin-bottom: 1rem;
  width: 12rem;
  font-size: large;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.nav-link:visited {
  color: #067166;
}


