$green: #067166;

.todo-form-container {
  display: flex;
  flex-direction: column;
}

.todo-form {
  display: flex;
  flex-direction: row;
  margin-left: 4rem;
  color: #644E5D;
  font-family: 'Roboto', sans-serif;
}

.todo-header {
  font-size: 1.5em;;
}

.todo-input {
  border: 1px solid #644E5D;
  margin-left: 2rem;
  height: 3vh;
  width: 20rem;
}

.todo-button {
  margin-left: 2rem;
  border: 2px solid $green;
}

.todo-button {
  font-family: 'Roboto', sans-serif;
  color: white;
  background: $green;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  padding: 0.5em 4em;
  height: 3vh;
}


.todo-list {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  color:#644E5D;
}

.todo-list-item {
  margin-top: 1em;
}

.todo-input-button {
  display: flex;
  flex-direction: row;
}
